p{
    font-size: small;
}
.flavor{
    color: darkgrey;
    font-style: italic;
    font-size: x-small
}
.card{
    height: 330px;
}
body{
    background:lightgrey;
}
.card-title{
    font-size:.9rem;
}
.jumbotron{
    padding:10px;
}
.card-body{
    padding:10px;
}
.container{
    padding-left: 50px;
    padding-right: 50px;
}
